/* index.css */
.banner-container {
  position: relative;
  font-family: Lato, sans-serif;
  margin-bottom: 1.5rem;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.75rem;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.75rem;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 100%;
  box-sizing: border-box;
}

.banner-text h2 {
  font-size: 4vw;
  margin-top: 0.5rem;
  border: none;
}

.banner-text p {
  font-size: 3vw;
  margin-top: 0.5rem;
}

@media (max-width: 500px) {
    .banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.5);
      padding: 0.5rem;
      border-radius: 0.75rem;
      text-align: center;
      width: 90%;
      max-height: 90%;
      max-width: 100%;
    }

  .banner-text h2 {
    font-size: 6vw;
      padding: 0rem;
      margin-bottom: 0rem;
  }
  .banner-text p {
      font-size: 4.5vw;
      line-height: 1.4rem;
      padding: 0rem;
  }
}

@media (min-width: 950px) {
  .banner-text h2 {
    font-size: 3vw;
  }
  .banner-text p {
    font-size: 2.5vw;
  }
}

@media (min-width: 1400px) {
  .banner-text h2 {
    font-size: 2.5vw;
  }
  .banner-text p {
    font-size: 2vw;
  }
}

@media (min-width: 1800px) {
  .banner-text h2 {
    font-size: 2.3vw;
  }
  .banner-text p {
    font-size: 1.8vw;
  }
}

@media (min-width: 2200px) {
  .banner-text h2 {
    font-size: 2vw;
  }
  .banner-text p {
    font-size: 1.2vw;
  }
}
